/* src/styles/theme.css */
@theme {
  --font-body: 'DMSans', sans-serif;
  --font-display: 'Bytesized', monospace;
  --font-mono: 'DMMono', monospace;

  --color-surface-primary: var(--bg-primary);
  --color-surface-secondary: var(--bg-secondary);

  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);

  --color-text-primary: var(--text-primary);
  --color-text-secondary: var(--text-secondary);
  --color-text-muted: var(--text-muted);
}
