---
import Layout from '@layouts/BlogPost.astro';
---

<Layout title="about me" description="Read more about me" pubDate={new Date('April 04 2026')}>
  <p>
    My name is Arian, I'm based in Melbourne, Australia, and I build things with code. I have a
    Master&apos;s degree in Computer Science with a focus on artificial intelligence. My journey
    into technology started with curiosity about how software works and gradually grew into a deeper
    interest in programming, problem-solving, and building systems.
  </p>

  <p>
    Before my master&apos;s degree, I completed a Bachelor&apos;s degree in Information Technology
    at RMIT University in Australia. During that time I started exploring programming more seriously
    and became interested in how software systems are designed and how complex problems can be
    solved through code.
  </p>

  <p>
    I later continued my studies at Monash University, where I completed my Master&apos;s in
    Computer Science. My focus during this time was artificial intelligence and modern software
    development. AI interested me because it combines logic, mathematics, and data to build systems
    that can learn and make decisions.
  </p>

  <p>
    I have a habit of getting into too much details when coding and I end up over complicating the
    process or a project that I'm working on which makes me end up getting discouraged and
    abandoning what I was planning to do. lately I have started to stop this habit and just build
    simple imperfect projects that are useful.
  </p>

  <p>
    This blog is where I will be writing about the things that I have learned, learning or doing and
    try to share whatever knowledge I have gained throughout my studies and
  </p>
</Layout>
