---
import { SITE_TITLE } from '@/consts'
const today = new Date()
---

<footer class="font-display bg-black text-xs text-secondary">
  <div class="page-container py-12">
    <p>&copy; {today.getFullYear()} {SITE_TITLE}. All rights reserved.</p>
  </div>
</footer>
