---
const today = new Date();
---

<footer
  class="flex w-full max-w-3xl mx-auto mt-auto items-center justify-start py-8 font-display text-sm px-4"
>
  <p>&copy; {today.getFullYear()} arian. All rights reserved.</p>
</footer>
